<template>
  <div>
    <div>Авторизован:</div>
    <div>{{ user?.id }}</div>
    <button @click="logout">
      Выйти
    </button>
  </div>
</template>

<script setup>
import { computed } from 'vue'
import { useNuxtApp } from '#app'

definePageMeta({
  middleware: 'auth',
})
const { $auth } = useNuxtApp()

const user = computed(() => $auth?.user || null)

const logout = async () => {
  try {
    await $auth.logout()
  }
  catch (error) {
    console.error('Logout failed:', error)
  }
}
</script>
