<template>
  <div>
    <div>Логин</div>
    <form @submit.prevent="onSubmit">
      <input
        v-model="login"
        type="text"
        placeholder="login"
      >
      <input
        v-model="password"
        type="password"
        placeholder="Password"
      >
      <button type="submit">
        Войти
      </button>
    </form>
    <div class="">
      <NuxtLink to="/register">
        На регистрацию
      </NuxtLink>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import { useNuxtApp } from '#app'

definePageMeta({
  middleware: 'guest',
})

const login = ref('')
const password = ref('')
const { $auth } = useNuxtApp()

const onSubmit = async () => {
  try {
    await $auth.signIn({ login: login.value, password: password.value })
  }
  catch (error) {
    console.error(error)
  }
}
</script>
