<template>
  <div class="">
    <div class="">
      Регистрация
    </div>
    <form @submit.prevent="onSubmit">
      <input
        v-model="formData.name"
        type="text"
        placeholder="Имя"
      >
      <br>
      <input
        v-model="formData.phone"
        type="tel"
        placeholder="Телефон"
      >
      <br>
      <input
        v-model="formData.code"
        type="text"
        placeholder="Код"
      >
      <br>
      <input
        v-model="formData.email"
        type="email"
        placeholder="Email"
      >
      <br>
      <input
        v-model="formData.password"
        type="password"
        placeholder="Пароль"
      >
      <br>
      <input
        v-model="formData.password_confirmation"
        type="password"
        placeholder="Подтверждение пароля"
      >
      <br>
      <button type="submit">
        Зарегистрироваться
      </button>
    </form>
    <div class="">
      <NuxtLink to="/login">
        На логин
      </NuxtLink>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import { useNuxtApp } from '#app'

definePageMeta({
  middleware: 'guest',
})

const formData = ref({
  name: '',
  phone: '',
  code: '1111',
  email: '',
  password: '',
  password_confirmation: '',
})

const formError = ref({
  global: '',
  fields: {
    name: [],
    phone: [],
    email: [],
    password: [],
    password_confirmation: [],
    code: [],
    referral_id: [],
  },
})

const { $auth } = useNuxtApp()

const onSubmit = async () => {
  try {
    await $auth.signUp(formData.value)
  }
  catch (error) {
    console.log(error)
    formError.value.global = error.message
  }
}
</script>
